* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-image: url(ASSETS/telaFundoQuiz.png);
    background-size: cover;
    background-position: center;
    background-color: #000000;
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway";
    width: 100%;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #e1e1e6;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 0 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

.chart-box {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 16px;
    width:70%; /* Define a largura da caixa para preencher completamente o espaço disponível */
}

.chart-box canvas {
    width: 70%; /* Define a largura do gráfico para preencher completamente a caixa */
    height: 70%; /* Define a altura do gráfico para preencher completamente a caixa */
}
#voltar img {
    width: 35px;
    position: absolute; 
    top: 35px;
    left: 45px;
}
#voltar span {
    position: absolute;
    top: 45px; 
    left: 90px; 
    color: white; 
    font-family: "Raleway"; 
    font-size: 1.5em;
    font-weight:lighter; 
}
/* Estilos para o gráfico de pizza */
.chart-box-pizza {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 16px;
    width: 40%; /* Define a largura da caixa para preencher completamente o espaço disponível */
}

.chart-box-pizza canvas {
    width: 100%; /* Define a largura do gráfico para preencher completamente a caixa */
    height: auto; /* Define a altura do gráfico como automática para manter a proporção */
}
