
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: #000000;
    scroll-behavior: smooth;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#img_fundo {
    width: 100%;
    height: 100vh;
    background-image: url('ASSETS/IMG FUNDO CADASTRO.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

#formulario {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px; 
    margin: 0 auto; 
    background-color: rgba(0, 0, 0, 0.7); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
h2 {
    font-family: "Raleway";
    font-size: 2em;
    margin-bottom: 20px; 
    color: #ffffff; 
}

h3 {
    color: azure;
    font-family: "Raleway";
    font-size: 1em;
    font-weight: lighter;
    margin-bottom: 20px; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"],
button {
    margin-bottom: 20px;
    padding: 15px;
    width: 300px;
    border-radius: 25px;
    outline: none;
    border: 2px solid rgba(132, 114, 72, 1);
    background-color: transparent;
    color: azure;
    font-size: 1em;
    font-family: "Raleway";
}

button {
    margin-bottom: 20px;
    padding: 0; 
    width: 170px;
    height: 45px;
    border-radius: 25px;
    outline: none;
    border: 2px solid rgba(132, 114, 72, 1);
    background-color: rgba(132, 114, 72, 1);
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-family: "Raleway";
    transition: background-color 0.3s;
}

button:hover {
    background-color: #daa520;
}
h3 a{
    margin-top: 5px;
    cursor: pointer;
    font-family: "Raleway";
    font-size: 1em;
    text-decoration: none; 
    color: inherit; 
}

.voltar {
    width: 35px;
    position: absolute; 
    top: 35px;
    left: 45px;
}
#voltar span {
    position: absolute;
    top: 45px; 
    left: 90px; 
    color: white; 
    font-family: "Raleway"; 
    font-size: 1.5em;
    font-weight:lighter; 
}